* {
  box-sizing: border-box;
}


a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.input {
  border: none;
  outline: none;
  box-shadow: none;
}

.input::placeholder {
  border: none !important;
}

button {
  outline: none;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
}

:root {

  --but-primery-hover: rgba(103, 165, 235, 1);

  --background-secondary: rgba(57, 59, 60, 1);
  --background-black: rgba(10, 11, 11, 1);
  --background-white: rgba(255, 255, 255, 1);
  --lightinputbackground: rgba(255, 255, 255, 0.15);

  --background-brand-active: rgba(106, 93, 194, 1);
  --background-disabled: rgba(255, 255, 255, 0.5);

  --content-active: rgba(180, 169, 255, 1);
  --content-primary: rgba(255, 255, 255, 1);
  --content-secondary: rgba(255, 255, 255, 0.7);
  --content-error: rgba(255, 117, 117, 1);
  --content-disabled: rgba(255, 255, 255, 0.5);


  --content-black: rgba(0, 0, 0, 1);
  --content-placeholder: rgba(0, 0, 0, 0.4);
}


body {
  display: block;
  padding-right: 10px;
  padding-left: 10px;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #000000 0%, rgba(39, 36, 36, 0.7) 100%),
  linear-gradient(178.73deg, rgba(39, 135, 245, 0.18) -17.53%, rgba(163, 147, 245, 0.18) 131.74%);
}


@media (max-width: 767px) {
  body {
    max-width: 375px;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
  }
}